* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body, html {
    overflow-x: hidden;
}

nav {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
}

#menu-checkbox, .toggle {
    display: none;
}

.menu {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu li {
    align-self: center;
}

.menu li a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 15px;
    transition: background 0.2s linear;
}

.menu li a:hover {
    background: #ffcc01;
    border-radius: 5px;
}

.menu li a.logo {
    font-size: 25px;
    margin-right: 240px;
}

.menu li a.contacts {
    margin-right: 100px;
}

@media screen and (max-width: 768px) {
    .toggle {
        /* clear: both; */
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: #000;
        background: #ffcc01;
        transition: all 0.1s linear;
    }

    .toggle:hover {
        background: #d3a900;
    }

    #menu-checkbox:checked + label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all 0.7s linear;
    }

    #menu-checkbox:checked + label .touch {
        height: 350px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height 0.2s linear;
    }

    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }

    .menu li a {
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }

    .menu li a.logo {
        /* font-size: 25px; */
        margin-right: 0;
    }
    
    .menu li a.contacts {
        margin-right: 0;
    }
}