* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body, html {
    overflow-x: hidden;
}

nav {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
}

#menu-checkbox, .toggle {
    display: none;
}

.menu {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu li {
    align-self: center;
}

.menu li a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 15px;
    transition: background 0.2s linear;
}

.menu li a:hover {
    background: #ffcc01;
    border-radius: 5px;
}

.menu li a.logo {
    font-size: 25px;
    margin-right: 240px;
}

.menu li a.contacts {
    margin-right: 100px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.intro {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.intro-img {
    background-image: url(img/room.jpg);
    width: 960px;
    height: 640px;
}

.intro .intro-text {
    font-size: 62px;
    position: absolute;
    top: 220px;
    right: 750px;
}

.intro-contacts {
    background-color: #ffcc01;
    max-width: 590px;
    position: absolute;
    right: 170px;
    top: 638px;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.intro-contacts i {
    color: #fff;
    margin-right: 30px;
}

.intro-contacts p {
    font-size: 18px;
    margin-right: 60px;
}

@media screen and (max-width: 768px) {
    .toggle {
        /* clear: both; */
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: #000;
        background: #ffcc01;
        transition: all 0.1s linear;
    }

    .toggle:hover {
        background: #d3a900;
    }

    #menu-checkbox:checked + label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all 0.7s linear;
    }

    #menu-checkbox:checked + label .touch {
        height: 350px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height 0.2s linear;
    }

    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }

    .menu li a {
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }

    .menu li a.logo {
        /* font-size: 25px; */
        margin-right: 0;
    }
    
    .menu li a.contacts {
        margin-right: 0;
    }

    .intro {
        display: block;
        margin-top: 0;
        max-width: 100%;
    }

    .intro-img {
        background-position: bottom 0px right 250px;
    }

    .intro .intro-text {
        position: relative;
        font-size: 35px;
        right: -10px;
        top: 95px;
    }

    .intro .intro-contacts {
        position: relative;
        right: 0;
        top: -55px;
        padding: 20px 10px;
    }

    .intro-contacts i {
        margin-right: 10px;
    }

    .intro-contacts p {
        font-size: 13px;
        margin-right: 0;
    }
}