* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body, html {
    overflow-x: hidden;
}

nav {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
}

#menu-checkbox, .toggle {
    display: none;
}

.menu {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu li {
    align-self: center;
}

.menu li a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 15px;
    transition: background 0.2s linear;
}

.menu li a:hover {
    background: #ffcc01;
    border-radius: 5px;
}

.menu li a.logo {
    font-size: 25px;
    margin-right: 240px;
}

.menu li a.contacts {
    margin-right: 100px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.intro {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.intro-img {
    background-image: url(img/room.jpg);
    width: 960px;
    height: 640px;
}

.intro .intro-text {
    font-size: 62px;
    position: absolute;
    top: 220px;
    right: 750px;
}

.intro-contacts {
    background-color: #ffcc01;
    max-width: 590px;
    position: absolute;
    right: 170px;
    top: 634px;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.intro-contacts i {
    color: #fff;
    margin-right: 30px;
}

.intro-contacts p {
    font-size: 18px;
    margin-right: 60px;
}

.stats {
    display: flex;
    margin-top: 130px;
}

.stats-line {
    display: flex;
}

.stats-text {
    padding: 40px;
}

.stats-text h2 {
    font-size: 40px;
    margin-bottom: 70px;
}

.stats-text p {
    margin-top: 50px;
    font-size: 13px;
    line-height: 27px;
}

.square {
    width: 200px;
    height: 200px;
    background-color: #f6f5f4;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square-number {
    font-size: 40px;
    color: #ffcc01;
    margin-bottom: 15px;
}

.square-text {
    font-size: 14px;
}

.apartments {
    background: #f6f5f4;
    padding: 60px 0;
}

.apart h2 {
    margin-bottom: 85px;
    font-size: 40px;
}

.card {
    max-width: 348px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-container {
    padding: 25px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.card-info .price {
    font-size: 18px;
    color: #ffcc01;
}

.card-info i {
    margin-right: 8px;
}

.card-info span:not(:last-child) {
    margin-right: 18px;
}

.card:hover {
    background: #fafaf9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 0px;
}

.buttons-search form {
    margin-top: 50px;
}

.apart input[type=text] {
    width: 300px;
    height: 70px;
    border: none;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-position: 27px;
    outline: none;
    padding-left: 62px;
    font-size: 15px;
    color: #919eb1;
    border-radius: 5px 0 0 5px;
}

.apart input[type=submit] {
    width: 115px;
    height: 70px;
    border: none;
    background: #ffcc01;
    font-size: 15px;
    border-radius: 0 5px 5px 0;
}

.all {
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 15px;
}

.buttons-search {
    display: flex;
}

@media screen and (max-width: 768px) {
    .toggle {
        /* clear: both; */
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: #000;
        background: #ffcc01;
        transition: all 0.1s linear;
    }

    .toggle:hover {
        background: #d3a900;
    }

    #menu-checkbox:checked + label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all 0.7s linear;
    }

    #menu-checkbox:checked + label .touch {
        height: 350px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height 0.2s linear;
    }

    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }

    .menu li a {
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }

    .menu li a.logo {
        /* font-size: 25px; */
        margin-right: 0;
    }
    
    .menu li a.contacts {
        margin-right: 0;
    }

    .intro {
        display: block;
        margin-top: 0;
        max-width: 100%;
    }

    .intro-img {
        background-position: bottom 0px right 250px;
    }

    .intro .intro-text {
        position: relative;
        font-size: 35px;
        right: -10px;
        top: 95px;
    }

    .intro .intro-contacts {
        position: relative;
        right: 0;
        top: -55px;
        padding: 20px 10px;
    }

    .intro-contacts i {
        margin-right: 10px;
    }

    .intro-contacts p {
        font-size: 13px;
        margin-right: 0;
    }

    .stats {
        margin-top: 0;
        flex-direction: column;
    }

    .stats-text {
        padding: 10px;
    }

    .stats-text h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .stats-text p {
        margin-top: 5px;
        font-size: 13px;
        line-height: 18px;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 30px;
        justify-items: center;
    }

    .buttons-search form {
        margin-top: 20px;
    }
    
    .apart input[type=text] {
        width: 130px;
    }

    .buttons-search {
        flex-direction: column;
        align-items: center;
    }

    .all {
        margin-left: 0;
    }
}